* {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
h1 {
  opacity: 0;
  width: 1px;
  height: 1px;
}
header {
  background-size: 100%;
  background-color: #f58021;
  height: 110px;
}

.wrap-head {
  background-color: #f58021;
}
.wraper {
  margin: 0 auto;
  width: 1400px;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  text-transform: uppercase;
}
.header-logo {
  margin-right: 460px;
  padding-top: 30px;
}
.header-nav,
.header-social {
  display: flex;
  list-style-type: none;
}
.header-nav {
  margin-top: 40px;
  padding: 0;
}
.header-social {
  margin-top: 35px;
  padding: 0;
}
.header-social a {
  padding-right: 30px;
}
.header-nav a {
  padding-right: 50px;
  font-size: 18px;
  color: #000000;
  font-weight: 600;
}
li {
  list-style-type: none;
}

.footer {
  background-color: #20113d;
  color: #ffffff;
  margin-top: 150px;
  padding-bottom: 50px;
}
.footer-logo {
  display: flex;
  margin-right: 100px;
}
.footer-nav {
  display: flex;
  margin-top: 100px;
}
.footer-logo li {
  margin-right: 65px;
  margin-top: 85px;
}
.footer-nav a {
  color: #ffffff;
}
.p-footer {
  color: #ffffff;
}

.footer-hr {
  border: none;
  color: #ffffff;
  background-color: #ffffff;
  height: 2px;
  margin-top: 80px;
  margin-bottom: 44px;
}
.footer-name-social {
  display: flex;
}
.footer-name {
  display: flex;
  line-height: 150%;
  font-weight: normal;
}
.footer-name p {
  margin-left: 50px;
}
.footer-social {
  display: flex;
  margin-left: 600px;
  width: 200px;
}
.footer-social li {
  margin: 0 40px;
}
.map {
  margin-top: 40px;
  height: 900px;
  padding-bottom: 150px;
}
.map p {
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
  text-align: center;
  text-transform: uppercase;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.animal {
  position: relative;
  bottom: 55px;
  right: 75px;
}
.alligator {
  position: relative;
  bottom: 505px;
  left: 296px;
}
.lion {
  position: relative;
  bottom: 585px;
  left: 580px;
}
.gorilla {
  position: relative;
  bottom: 700px;
  left: 690px;
}
.lemur {
  position: relative;
  bottom: 680px;
  left: 800px;
}
.panda {
  position: relative;
  bottom: 1040px;
  left: 990px;
}
.tiger {
  position: relative;
  bottom: 1035px;
  left: 1020px;
}
.coala {
  position: relative;
  bottom: 1035px;
  left: 1135px;
}
.eagle {
  position: relative;
  bottom: 1385px;
  left: 170px;
}
.btn-footer {
  margin-top: 70px;
  margin-left: 25px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: transparent;
  color: #ffffff;
  width: 360px;
  height: 75px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.btn-footer img {
  padding-left: 15px;
}
.btn-footer:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.header-nav li:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.header-social li:hover,
.footer-social li:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.activ a {
  color: #ffffff;
}
.content {
  display: flex;
  margin-top: 150px;
}
.content-text p {
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
  text-transform: uppercase;
  color: #00a092;
}
.content-text h4 {
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #000000;
  max-width: 545px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 175px;
}
.form .submit {
  background: #00a092;
  border-radius: 5px;
  width: 359px;
  height: 74px;
  text-transform: uppercase;
  color: #ffffff;
}
.form input {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  width: 680px;
  height: 60px;
  margin-bottom: 30px;
}
.star {
  color: #00a092;
}
.form-text {
  font-size: 18px;
  line-height: 150%;
  color: #000000;
}
input[type="text"]::-moz-placeholder {
  color: #969696;
  padding-left: 20px;
}
input[type="text"]::-webkit-input-placeholder {
  color: #969696;
  padding-left: 20px;
}
input[type="text"]:-ms-input-placeholder {
  color: #969696;
  padding-left: 20px;
}
input[type="text"]::-ms-input-placeholder {
  color: #969696;
  padding-left: 20px;
}
input[type="text"]::placeholder {
  color: #969696;
  padding-left: 20px;
}

.form .message {
  width: 680px;
  height: 200px;
}
.form .submit:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
input[type="value"] {
  text-transform: uppercase;
  color: #ffffff;
}
.all-btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}